// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "CrAntiRootkit kernel driver"
#define VER_INTERNALNAME_STR        "CrArkSys.sys"
#define VER_ORIGINALFILENAME_STR    "CrArkSys.sys"

#include "common.ver"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", "CrArk Kernel Driver"
            VALUE "FileVersion", "1, 0, 0, 0"
            VALUE "InternalName", "CrArkSys"
            VALUE "LegalCopyright", "by Cradiator"
            VALUE "OriginalFilename", "CrArkSys.sys"
            VALUE "ProductName", "Cr AntiRootkit"
            VALUE "ProductVersion", "1, 0, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END

